
<h2>Модель добавлена</h2>
<script>
    $(document).ready(function () {
        setTimeout(function() {
            window.location.href = "@Url.Action("UserProfile", "Account")";
        }, 1500);
    })
</script>